/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer {
    margin-left: 8vw;
    padding: 1rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .grid--4-cols,
  .grid--5-cols {
    margin: 0;
    grid-template-columns: 1fr;
    row-gap: 10rem;
    column-gap: 1rem;
  }

  .gridCharacters {
    width: auto;
    margin-bottom: 20rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .post-image-selected img {
    max-width: 35rem;
  }

  .modal-content {
    background-color: white;
    position: relative;
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    height: 40rem;
    width: 120rem;
    background-repeat: no-repeat;
    z-index: 9999;
  }

  .close-modal {
    color: #000;
    font-size: 6rem;
    line-height: 1.6;
    margin: 0;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .grid--3-cols,
  .grid--4-cols,
  .grid--5-cols {
    margin: 0;
    grid-template-columns: 1fr;
    row-gap: 10rem;
    column-gap: 1rem;
  }

  .gridCharacters {
    width: auto;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .modal-content {
    background-color: white;
    position: relative;
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    height: 90rem;
    width: 120rem;
    background-repeat: no-repeat;
    z-index: 9999;
  }

  .close-modal {
    color: #000;
    font-size: 6rem;
    line-height: 1.6;
    margin-left: 25vw;
  }

  .tablet-size {
    margin-left: 15vw;
  }

  .cards-modal {
    margin-left: 7vw;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(241, 30, 33, 0.7);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .tablet-size {
    margin-left: 15vw;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .gridCharacters {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20rem;
    padding: 1px;
    width: 1px;
  }

  .character {
    width: auto;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .heading-fourty {
    display: none;
  }

  .social-links {
    align-items: center;
    justify-content: center;
    margin-right: 25vw;
    gap: 50px;
  }

  .modal-content {
    background-color: white;
    position: relative;
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    height: 90rem;
    width: 120rem;
    background-repeat: no-repeat;
    z-index: 9999;
  }

  .close-modal {
    color: #000;
    font-size: 6rem;
    line-height: 1.6;
    margin-left: 30vw;
  }

  .footer {
    padding: 1rem;
  }

  .grid--footer {
    grid-template-columns: 1fr;
    margin-left: 35vw;
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols,
  .grid--5-cols {
    grid-template-columns: 1fr;
    row-gap: 10rem;
  }

  .tablet-size {
    margin-left: 5vw;
  }

  .cards-modal {
    margin-left: 15vw;
  }

  .gridCharacters {
    grid-template-columns: 1fr 1fr 1fr;

    padding: 1px;
    width: 1px;
  }

  .title-name-characters {
    height: 8rem;
    font-size: 1.2rem;
    text-align: center;
    padding: 3.2rem;
    color: #fff;
    background-color: #000;
  }

  .post-photo {
    display: inline-block;
    margin-left: 25%;
  }

  .heading-fourty {
    display: none;
  }

  .resume-skills > div {
    display: block;
  }

  .character {
    width: auto;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero-img {
    width: 80%;
  }

  .logos img {
    height: 1.2rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }

  .form-contact {
    width: auto;
  }
  /*
  .footer {
    grid-template-columns: 1fr;
    margin: auto;
  }
*/
  .footer {
    padding: 1rem;
  }

  .grid--footer {
    grid-template-columns: 1fr;
    margin-left: 30vw;
  }

  .social-links {
    align-items: center;
    justify-content: center;
    margin-right: 25vw;
    gap: 50px;
  }

  .modal-content {
    background-color: white;
    position: relative;
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    height: 90rem;
    width: 120rem;
    background-repeat: no-repeat;
  }

  .close-modal {
    color: #000;
    font-size: 6rem;
    line-height: 1.6;
    margin-left: 40vw;
  }
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/**************************/
/* Fixing Safari flexbox gap */
/**************************/

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
